{% extends 'base.html' %}

{% block 'content' %}
    <div class="container col text-center text-md-start">
        <div class="px-4 py-5 my-5 text-center">
                <h4 class="display-5 fw-bold">Somos una tienda digital de pasteles y postres cuyos sabores y colores te acompañarán en los buenos momentos.</h4>
                <h5 class="display-6 fw-bold">Es de nuestro agrado dar un paso adelante presentando nuestro sitio web, invitando a todas las personas a visitarnos y echar un vistazo a nuestro catálogo de productos. </h3>
        </div>
    </div>
{% endblock %}