{% extends 'base.html' %}

{% block 'content' %}
<div class="container col text-center text-md-start">
    <div class="px-4 py-5 my-5 text-center">
        <h3 class="display-5 fw-bold">Gracias por contactarte con OnlyFlans, te responderemos en breve</h3>
        <div class="col-lg-6 mx-auto">
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
              <a class="btn btn-primary btn-lg px-4 gap-3" href="/" role="button">Volver al inicio</a>
          </div>
        </div>
    </div>
</div>
{% endblock %}